{% if oh_my_zsh.theme == "powerlevel10k/powerlevel10k" %}
# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{% endif %}
# Path to the dotfiles
export DOTFILES={{ dotfiles_directory }}

typeset -U config_files
config_files=($DOTFILES/**/*.zsh)

roles=(
{% for item in modules %}
  "{{ item }}"
{% endfor %}
)

# Add paths in case the ones from /etc/profile.d weren't sourced
source ~/.bash_userpaths.sh

# all of our zsh files
typeset -U config_files
config_files=()

# loop through roles and collect zsh config files
for role in ${roles}; do
  config_files+=(${DOTFILES}/roles/${role}/*.zsh(N))
done

# load the path files
for file in ${(M)config_files:#*/path.zsh}; do
  source $file
done

{% if oh_my_zsh.use %}
# Configuring oh-my-zsh
ZSH={{ oh_my_zsh.directory }}

ZSH_THEME="{{ oh_my_zsh.theme }}"
DEFAULT_USER="{{ user_name }}"

#Set up oh-my-zsh
source $ZSH/oh-my-zsh.sh
plugins=(dircycle git vi-mode)
{% endif %}

# load everything but the path and completion files
for file in ${${${config_files:#*/path.zsh}:#*/completion.zsh}:#*/final.zsh}; do
  source $file
done

# initialize autocomplete here, otherwise functions won't be loaded
autoload -U compinit colors
compinit
colors

# load every completion after autocomplete loads
for file in ${(M)config_files:#*/completion.zsh}; do
  source $file
done

for file in ${(M)config_files:#*/final.zsh}; do
  source $file
done

unset config_files

# TODO Remember fzf
# [ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# Stash your environment variables in ~/.localrc. This means they'll stay out
# of your main dotfiles repository (which may be public, like this one), but
# you'll have access to them in your scripts.
if [[ -a ~/.localrc ]]; then
  source ~/.localrc
fi
{% if oh_my_zsh.theme == "powerlevel10k/powerlevel10k" %}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
{% endif %}
{% if hw_cmd_only %}

# Run tmux whenever zsh is launched if it isn't already running
if [ "$TMUX" = "" ]; then tmux; fi
{% endif %}
