# Sample gitconfig
#

[hub]
  protocol = https
[user]
	name = Jonas Glesaaen
  email = jonas@glesaaen.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  lg1 = log --branches --remotes --tags --graph --oneline --decorate
  exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
  skip = update-index --skip-worktree
  noskip = update-index --no-skip-worktree
  ls-skip = !git ls-files -v | grep ^S | awk '{print $2}'
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
[credential]
	helper = cache --timeout=14400
[gpg]
	program = gpg2
