[hub]
  protocol = https
[user]
  name = {{ git_full_name }}
  email = {{ git_email }}
{% if git_signing_key_has_key %}
  signingkey = {{ git_signing_key }}
{% endif %}
[alias]
  exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
  clean-vba = checkout -- **/*.frm **/*.frx
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[init]
  defaultBranch = main
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
[init]
	defaultbranch = main
[diff]
	external = difft
{% if git_signing_key_has_key %}
[commit]
  gpgsign = true
{% endif %}
