[hub]
  protocol = https
[user]
  name = {{ git.full_name }}
  email = {{ git.email }}
{% if git.sign.key_type == "openpgp" %}
  signingkey = {{ git.sign.key }}
{% elif git.sign.key_type == "ssh" %}
  signingkey = "{{ home_directory }}/.ssh/{{ git.sign.key_name }}.pub" 
{% endif %}
[alias]
  exclude = !sh -c 'echo "$1" >> .git/info/exclude' -
  clean-vba = checkout -- **/*.frm **/*.frx
  clone-worktree = !_git_clone_worktree
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = nvim
{% if git.difftool == "delta" %}
  pager = delta
{% endif %}
[apply]
  whitespace = nowarn
[mergetool]
  keepBackup = false
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
[init]
	defaultBranch = main
{% if git.sign.key_type | default(false) %}
[commit]
  gpgsign = true
[gpg]
  format = {{ git.sign.key_type }} 
{% endif %}
[credential]
	helper = cache --timeout=27000
[rerere]
	enabled = true
[pull]
	ff = only
{% if git.difftool == "delta" %}
[delta]
  side-by-side = true
  features = gruvbox-dark
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = zdiff3
{% endif %}
