@import "mocha.css";

* {
  font-family: "Iosevka Nerd Font", "Maple Mono NF", monospace;
  font-size: 10px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  background-color: @surface0;
  margin-left: 1rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

#workspaces button {
  color: @lavender;
  padding: 0.2rem;
}

#workspaces button.active {
  color: @rosewater;
}

#workspaces button:hover {
  color: @sapphire;
}

#custom-music,
#tray,
#backlight,
#backlight-slider,
#clock,
#battery,
#language,
#custom-lock,
#wireplumber,
#custom-power,
#custom-notification {
  background-color: @surface0;
  padding: 0.5rem 0.5rem;
}

#backlight-slider slider {
    margin-left: -8px;
    min-width: 8px;
    min-height: 8px;
    background: transparent;
    box-shadow: none;
    padding: 0px;
}

#backlight-slider trough {
    min-width: 70px; /* Reduced from 80px */
    border-radius: 4px; /* Adjusted from 5px */
    background-color: @foregrounddark;
}

#backlight-slider highlight {
    border-radius: 4px; /* Adjusted from 5px */
    min-height: 6px; /* Reduced from 8px */
    background-color: @yellow;
}

#clock {
  color: @blue;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#wireplumber {
  color: @maroon;
}

#backlight,
#battery,
#wireplumber {
  border-radius: 0;
}

#language {
  color: @lavender;
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
  margin-left: 1rem;
}

#clock {
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  padding-right: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-notification {
  border-radius: 1rem 0px 0px 1rem;
  padding-left: 1rem;
  color: @blue;
}

#custom-lock {
  color: @lavender;
}

#custom-power {
  padding-right: 1rem;
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}


#tray {

}
