#!/bin/env bash

is_logged_in() {
  [[ $(bw status | jq '.status') == "\"unlocked\"" ]] && true
}

is_logged_in
if [[ $? -eq 1 ]]; then
  source "{{ role_path }}/bin/_bw-bin-unlock-script"
fi

is_logged_in
if [[ $? -eq 1 ]]; then
  return 1
fi

item="$(bw list items | \
  jq '.[] | "\(.name) | username: \(.login.username) | id: \(.id)" ' | \
  sed 's/^\"\(.*\)"$/\1/' | \
  fzf --preview='{{ role_path }}/bin/_pwdfzf-preview-script {}' --preview-window=wrap | \
  awk '{print $(NF -0)}')"

bw get password "$item" | \
  {{copy_command}}
