#!/bin/env bash

if [[ -z $BW_SESSION ]]; then
  source "{{ role_path }}/bin/_bw-bin-unlock-script"
fi

if [[ -z $BW_SESSION ]]; then
  return "$?"
fi

item="$(bw list items | jq '.[] | "\(.name) | username: \(.login.username) | id: \(.id)" ' | fzf | awk '{print $(NF -0)}' | sed 's/\"//g')"
bw get item "$item" | jq '.login.password' | sed 's/\"//g' | {{copy_command}}
