# vi: set ft=yaml.ansible :

- name: Pacman install
  ansible.builtin.import_tasks: pacman.yml
  when:
    - package_manager == "pacman"

- name: Apt install
  ansible.builtin.import_tasks: apt.yml
  when:
    - package_manager == "apt"

# - name: Install thefuck (pipx)
#   community.general.pipx:
#     name: thefuck
#     state: latest
#   when: install

# - name: Install bpytop (pipx)
#   community.general.pipx:
#     name: bpytop
#     state: latest
#   when: install

- name: Install dtrx (pipx)
  community.general.pipx:
    name: dtrx
    state: latest
  when: install

- name: Install lsd, fd, bat, cargo-update, clock-tui, rip-cli (cargo)
  community.general.cargo:
    name:
      - bat
      - cargo-update
      - clock-tui
      - rip-cli
    state: present
  when: install

- name: Import tasks for installing bat
  import_tasks: bat.yml

- name: Fish configuration
  ansible.builtin.import_tasks: fish.yml
  when:
    - "'fish' in modules"
