# vi: set ft=yaml.ansible :

- name: Update default vars
  ansible.builtin.set_fact:
    docker: "{{ docker | combine(data.software.docker, recursive=True) }}"
  when: data.software.docker is defined | default(false)

- name: Define compose up alias
  ansible.builtin.shell:
    cmd: alias up --save "docker compose up --detach --remove-orphans"
    executable: /usr/bin/fish
    creates: "{{ config_directory }}/fish/functions/up.fish"
  when: docker.aliases

- name: Define compose down alias
  ansible.builtin.shell:
    cmd: alias down --save "docker compose down"
    executable: /usr/bin/fish
    creates: "{{ config_directory }}/fish/functions/down.fish"
  when: docker.aliases
